{% extends 'make-our-planet-great-again/base.html' %}

{% block content %}
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Evaluer le projet XXX</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-md-6">
           <form class="user">

                <div class="d-flex justify-content-center my-4">
                    <div class="w-75">
                        <input type="range" class="custom-range" id="customRange11" min="0" max="5">
                    </div>
                    <span class="font-weight-bold text-primary valueSpan2"></span>
                </div>

                <div class="form-group row">
                    <textarea class="form-control" placeholder="Remarque"></textarea>
                </div>

                <div class="form-group row">
                    <a href="login.html" class="btn btn-primary btn-block">
                        Evaluer le projet
                    </a>
                </div>
            </form>
        </div>

    </div>
{% endblock %}