<!DOCTYPE html>
<html lang="fr">

    {% include 'make-our-planet-great-again/head.html' %}

    <body class="bg-gradient-primary">

        <div class="container">

            <!-- Outer Row -->
            <div class="row justify-content-center">

                <div class="col-xl-10 col-lg-12 col-md-9">

                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <!-- Nested Row within Card Body -->
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                        </div>
                                        <form class="user">
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user"
                                                    id="exampleInputEmail" aria-describedby="emailHelp"
                                                    placeholder="Pseudo">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user"
                                                    id="exampleInputPassword" placeholder="Password">
                                            </div>

                                            <div class="form-group">
                                                <select class="form-control" placeholder="Status">
                                                    <option selected value="Porteur">Porteur</option>
                                                    <option value="Evaluateur">Evaluateur</option>
                                                    <option value="Financeur">Financeur</option>
                                                </select>
                                            </div>

                                            <a href="index.html" class="btn btn-primary btn-user btn-block">
                                                Login
                                            </a>

                                        </form>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="forgot_password">Forgot Password?</a>
                                        </div>
                                        <div class="text-center">
                                            <a class="small" href="register">Create an Account!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </body>
</html>
