{% extends 'base.html' %}


{% block title %}
    <title>Contact</title>
{% endblock %}    



{% block body %}  

<body class="bg-gradient-primary">

    <div class="container">        
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->                
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Contact us</h1>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="exampleFirstName"
                                            placeholder="Name">
                                    </div>
                                    <div class="col-sm-6">
                                         <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Email Address">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="exampleInputEmail"
                                        placeholder="Subject">
                                </div>

                                <div class="form-group">
                                    <textarea class="form-control form-control-user" placeholder="Your message"></textarea>
                                </div>    

                                <div class="form-group">
                                    <section id="captcha">                                    
                                        <label for="pwd">Captcha:</label>
                                        
                                        <!-- input captcha -->
                                        <div class="captcha-code">
                                            <div class="code">
                                                <div class="dynamic-code"></div>
                                            </div>
                                            <div class="captcha-reload">
                                                <i class="ion-ios-loop-strong"></i>
                                            </div>
                                        </div>
                                        <div class="captcha-input">
                                            <input type="text" class="form-control" id="captcha-input"  required autocomplete="off"  placeholder="Enter captcha code ...">
                                            <span id="errCaptcha"></span>
                                        </div>                            
                                    </section>   
                                </div>
                                <a href="login.html" class="btn btn-primary btn-user btn-block">
                                   Send
                                </a>                                
                            </form>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}