{% extends 'make-our-planet-great-again/base.html' %}

{% block content %}
<!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Supprimer un project</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-md-6">
           <form class="user">
                <div class="form-group row">
                    <a href="login.html" class="btn btn-primary btn-block">
                        Supprimer le projet
                    </a>
                </div>
            </form>
        </div>

    </div>
{% endblock %}