{% extends 'make-our-planet-great-again/base.html' %}

{% block content %}
<!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Modifier le projet XXX</h1>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-md-6">
           <form class="user">
                <div class="form-group row">
                    <input type="text" class="form-control"
                            placeholder="Idée">
                </div>

                <div class="form-group row">
                    <input type="text" class="form-control"
                            placeholder="Nom">
                </div>

                <div class="form-group row">
                    <textarea class="form-control" placeholder="Description"></textarea>
                </div>

                <div class="form-group row">
                    <textarea class="form-control" placeholder="Plan"></textarea>
                </div>

                <div class="form-group row">
                    <input type="number" min="0" class="form-control"
                            id="exampleInputPassword" placeholder="Budget">
                </div>

                <div class="form-group row">
                    <select class="form-control" placeholder="Domaine d'application">
                        <option selected value="1">Domaine 1</option>
                        <option value="2">Domaine 2</option>
                        <option value="3">Domaine 3</option>
                    </select>
                </div>

                <div class="form-group row">
                    <a href="login.html" class="btn btn-primary btn-block">
                        Modifier le projet
                    </a>
                </div>
            </form>
        </div>

    </div>
{% endblock %}